
params.literal='CGGCATGGACGAGCTGTACAA'
params.literal_length=24

params.barcodes_dir='/ei/scratch/uzun/barcodes/'
params.final_path='/ei/scratch/uzun/barcodes/final/'
params.aggregated_file_dir='/ei/scratch/uzun/barcodes/aggr/'
params.agg_filename='bc_matrix.tsv'

params.reads='/ei/workarea/group-scg/wojtowic/SS2_26032020/200326_A00478_0115_BHL5CCDRXX/'

params.pattern='?*_R{1,2}'
params.plate_ids=['S0001', 'S0002', 'S0003', 'S0004']

process.executor='slurm'
process.queue='ei-medium'
process.memory='32G'
process.time='3h'

executor.queueSize=200

